* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: content-box radial-gradient(rgb(98, 19, 98),rgb(196, 7, 83));
}

.contianer {
    max-width: 450px;
    margin: auto;
}

.box ul {
    display: flex;
    margin: 0 auto;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
}

.box ul li {margin: 0 1rem;}

.box ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: .5rem;
    border: 2px solid #fff;
    border-radius: 40px;
}

.box {
    display: flex;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

.box img {
    border-radius: 30%;
}

.dataprofile {
    width: 150px;
    height: 150px;
}

.dataprofile div{
    margin-top: 50px;
}

.dataprofile div h4 {
    color: aliceblue;
    font-size: 30px;
}

.Logo {
    font-size: 50px;
    text-decoration: none;
    margin-left: -10rem;
}

.Logo p {

}

nav {
    width: 100vh;
    display: flex;
}